<section>
          
    <div class="ui three column stackable grid">
        
        <div *ngFor="#city of cities" class="column">
            <div class="ui segment">
                <div class="segment-heading">{{city.Name}}, {{city.CountryCode}}</div>
                <div class="segment-text">{{city.CanonicalName}}</div>            
            </div>
        </div>
        
        <!--<div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>-->
    </div>
</section>
<footer class="center marginTop marginBottom">
    <button class="ui purple button" [disabled]="showPrevious()" (click)="btnPrevious()">Previos</button>
    <button class="ui purple button" [disabled]="showNext()" (click)="btnNext()">Next</button>
</footer>
