.center {
    text-align: center;
}

.heading {
    background-color: yellow !important;
}

.marginBottom {
    margin-top : 20px
}

.marginTop {
    margin-top : 20px
}

.segment-heading {
    font-size: 16px;
    font-weight: bold;
}

.segment-text {
    font-size: 11px;
}